@font-face {
    font-family: my-cool-font;
    src: url(./Norse-Bold.otf);
}

body{
    display: flex;
    margin: 0;
    padding: 0;
}

.txtbox{
    font-weight: bold;
    margin-left: 35px;
    font-size: 1.2rem;
}

.textCont{
    margin-bottom: 20px;
}

label{
    font-size: 0.6rem;
    display: block;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: red; */
}

.image img{
    height: 100vh;
    width: 35vw;
}

.cont{
    width: 65vw;
}

.sect{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    /* background-color: aqua; */
    width: 75%;
    /* justify-content: space-between; */
}

input{
    display: block;
    width: 175px;
    height: 19px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}

.top{
    display: flex;
    align-items: flex-end;
    font-family: Helvetica;
    background-color: rgb(242, 242, 242);
    height: calc(0.34*100vh);
    width: 100%;
}

.mid{
    padding: 2px 0px 0px 35px;
    width: auto;
    height: calc(0.32*100vh);
    /* border: 1px solid black; */
    font-family: Helvetica;
    background-color: white;
    box-shadow: 1px 3px 4px -2px lightgray;
    z-index: 10;
    box-sizing: border-box;
    position: relative;
    z-index: 99999;
}

.bot{
    display: flex;
    background-color: rgb(242, 242, 242);
    /* background-color: red; */
    height: calc(0.34*100vh);
    padding-left: 35px;
    flex-direction: column;
}

label{
    margin-left: 0;
    margin-right: 3.5rem;
}

button{
    border-radius: 7px;
    background-color: #596d48;
    padding: 8px 22px;
    border: 2px solid #596d48;
    color: white;
    font-weight: bold;
    align-self: flex-start;
}

#alr{
    font-size: 14px;
}

a{
    text-decoration: none;
    color: #596d48;
    font-weight: bold;
}

input:focus{
    outline: none !important;
    border: 1px solid blue;
    border-radius: 3px;
    box-shadow: 1px 3px 2px -3px black;
}

/* input:invalid{
    border: 1px solid red;
} */
