body{
    display: flex;
}

.italic{
    font-style: italic;
}

.sect{
    display: flex;
    margin-bottom: 1rem;
}



input, label{
    display: block;
}

input:focus{
    border: 1px solid blue;
}

input:invalid{
    border: 1px solid red;
}